  
body {
  background-color: black;
}

.centrado{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claseBoton{
  background-color: white;
  color: rgb(255, 11, 255);
  cursor: pointer;
  padding: 10px 20px; 
  border: 1px solid rgb(255, 11, 255);
}

.claseBoton:hover {
  color:slateblue;
}

.titulo {
  text-align: center;
  color:seagreen;
  font-size: 30px;
}

.descripcion {
  color:aquamarine;
  font-size:25px;
  text-align:center;
}

@media (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.1rem;
  }
}